<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Chat Page</title>
<!-- 필요한 CSS 추가 -->
    <style>
        #chatContainer {
            display: flex;
            flex-direction: column;
            height: 400px;
            border: 1px solid #ccc;
            padding: 10px;
            overflow-y: scroll;
        }
        #messageInput {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h1>상담원 채팅</h1>
    <div id="chatContainer">
        <!-- 채팅 메시지가 여기에 표시 -->
    </div>
    <input type="text" id="messageInput" placeholder="메시지를 입력하세요"/>
    <button onclick="sendMessage()">전송</button>
</section>

<script>
    // 여기에 WebSocket 또는 Kafka를 이용한 실시간 통신 로직을 추가합니다.

    function sendMessage() {
        var message = document.getElementById("messageInput").value;
        // 메시지 전송 로직
        console.log("메시지 전송: " + message);
        // 입력 필드 초기화
        document.getElementById("messageInput").value = '';
    }
</script>
</body>

</html>
