<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <title>쿠폰 생성</title>
</head>

<body>
<div layout:fragment="content">
    <h2>쿠폰 생성</h2>
    <form th:action="@{/admin/coupons/create}" method="post">
        <div class="form-group">
            <label for="couponName">쿠폰명:</label>
            <input type="text" id="couponName" name="couponName" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="availableStock">재고수량:</label>
            <input type="number" id="availableStock" name="availableStock" class="form-control" required>
        </div>

        <div class="form-group">
            <label>할인금액:</label>
            <div>
                <input type="radio" id="discountTypeAmount" name="discountType" value="amount" checked>
                <label for="discountTypeAmount">금액</label>
                <input type="number" id="discountAmount" name="discountAmount" class="form-control" required>
            </div>
            <div>
                <input type="radio" id="discountTypePercentage" name="discountType" value="percentage">
                <label for="discountTypePercentage">퍼센테이지</label>
                <input type="number" id="discountPercentage" name="discountPercentage" class="form-control" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">쿠폰 생성</button>
    </form>
</div>
</body>

</html>
